body {
  background-image: url('/assets/image/img1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main {
  min-height: 80vh;
  display: grid;
  place-content: center;
  gap: 2.4rem;
}

button {
  justify-self: center;
  background-color: transparent;

  padding: 1.2rem 3.2rem;

  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;

  color: white;

  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-color: white;
  color: #02799d;
}
